<!doctype html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/styles/main.css" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script type="text/javascript">var apikey = "{{ apikey }}";</script>
    <script type="text/javascript" src="/scripts/gainc.js"></script>
    <script type="text/javascript" src="/scripts/json2.js"></script>
    <script type="text/javascript" src="/scripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
    <script type="text/javascript" src="/scripts/mapengine.js"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="/scripts/chartengine.js"></script>
    <script type="text/javascript" src="/scripts/utils.js"></script>
    <title>Best Time to Go</title>
  </head>
  <body>

    <div id="top">
      <p><a href="{{ url }}">{{ url_linktext }}</a></p>
    </div>
    
    <div id="content">
      
      <div id="your-routes">
      {% for r in user_routes %}
      <div class="button orange blk" onclick="showRoute('{{ r.srcaddr }}', '{{ r.dstaddr }}')">{{ r.label_to_string() }}</div>
      {% endfor %}
      </div>

      <h2>Your route</h2>

      <p class='i'>Enter your route to start tracking it. If any statistics have been collected by now, you'll see them below.</p>
      
      <div class="inputtext">
        <p>From:<br/>
          <input type="text" name="rt_src" id="rt_src" />
        </p>
      </div>
      
      <div class="inputtext">
        <p>To:<br/>
          <input type="text" name="rt_dst" id="rt_dst" />
        </p>
      </div>

      <div class="distance" id="distance-current"><p>Distance: <span id="distance-info-current"></span></p></div>
      <div class="duration" id="duration-current"><p>Duration: <span id="route-info-current"></span></p></div>
      <div class="duration" id="duration-traffic"><p>In current traffic: <span id="route-info-traffic"></span></p></div>
      <div class="duration" id="duration-traffic-15"><p>In 15 min: <span id="route-info-traffic-15"></span></p></div>
      <div class="duration" id="duration-traffic-30"><p>In 30 min: <span id="route-info-traffic-30"></span></p></div>
      <div class="duration" id="duration-traffic-45"><p>In 45 min: <span id="route-info-traffic-45"></span></p></div>
      
      <div id="map"></div>
      <div id="tzdiv">
        <select name="tz" id="tz"></select>
      </div>
      
      <div id="dashboard">
        <div id="slider" class="slider"></div>
        <div id="stats" class="stats"></div>
      </div>
      
      <div class="error rounded-corners"><p></p></div>
    
    </div>
    
    <div id="foot">&nbsp;</div>
    <div class="debug">&nbsp;</div>

  </body>
</html>