html, body { margin: 0; padding: 0; font-family: Arial, sans-serif; font-size:13px; width: 100%; }
p.i { padding: 0px 5px 0px 5px; font-style:italic; }
#content { width: 100%; border: none; padding: 0; margin: 0; }
#content tr { padding: 0; margin: 0; }
#content tr td { padding: 0; margin: 0; }
#top, #foot { width: 100%; height: 20px; margin: 0; padding: 0; }
#top { text-align: right; }
#map { height: 400px; width: 100%; position:relative; }
#foot { height: 20px; padding: 0; margin: 0; }
.inputtext { margin: 0; padding: 0; width: }
.inputtext input { width: 100%; }
.inputtext p { padding: 5px; }
.duration, .distance { display:none; }
.duration p, .distance p { padding: 0px 5px 0px 5px; font-style: italic; }
.stats, { margin: 5px 0px 0px 5px; }
.slider { margin: 20px 0px 20px 50px; }
.rounded-corners {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  /** for IE*/
  behavior: url(/border-radius.htc);
  border-radius: 10px;
}
.error {
  width: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
  z-index: 100;
  color: red;
  text-align: center;
  background-color: #ffff99;
  padding: 10px;
  display: none;
  margin: 0;
}
.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em; 
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
  text-decoration: none;
}
.button:active {
  position: relative;
  top: 1px;
}
.orange {
  color: #fef4e9;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
  background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
  background: #f47c20;
  background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
  background: -moz-linear-gradient(top,  #f88e11,  #f06015);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
  color: #fcd3a5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
  background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
.blk {
  display: block;
}
.debug { font-weight: bold; color: #999; padding: 0; margin: 20 0 0 0; width: 100%; }
